body{background-color:;  
    color ;}

header{
background-color:rgb(5, 5, 80);
color: goldenrod ;
font-size: 50px
}

nav{
    background-color:;
}    



dt{
    color: ;

}

footer{
    background-color: ;
}