body{background-color:;  
    color ;}

header{
background-color: darkblue;
color: yellow ;
}

nav{
    background-color:;
}    

h2{
    color:;

}

dt{
    color: ;

}

footer{
    background-color: ;
}